PresetMagician.SharedModels/FodyWeavers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- This file was generated by Fody. Manual changes to this file will be lost when your project is rebuilt. -->
  <xs:element name="Weavers">
    <xs:complexType>
      <xs:all>
        <xs:element name="PropertyChanged" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="InjectOnPropertyNameChanged" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Used to control if the On_PropertyName_Changed feature is enabled.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="EventInvokerNames" type="xs:string">
              <xs:annotation>
                <xs:documentation>Used to change the name of the method that fires the notify event. This is a string that accepts multiple values in a comma separated form.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="CheckForEquality" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Used to control if equality checks should be inserted. If false, equality checking will be disabled for the project.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="CheckForEqualityUsingBaseEquals" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Used to control if equality checks should use the Equals method resolved from the base class.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="UseStaticEqualsFromBase" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Used to control if equality checks should use the static Equals method resolved from the base class.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="MethodTimer" minOccurs="0" maxOccurs="1" type="xs:anyType" />
        <xs:element name="Catel" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="WeaveProperties" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Weave all regular properties on classes that inherit (directly or indirectly) from `Catel.Data.ModelBase` into Catel properties. The default value is <c>true</c>.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="WeaveExposedProperties" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Weave all Catel properties decorated with both the `Catel.MVVM.ModelAttribute` and `Fody.ExposeAttribute` attributes as automatic mappings. The default value is <c>true</c>.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="WeaveCalculatedProperties" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Automatically raise change notifications for calculated properties (e.g. `FullName =&gt; FirstName + " " + LastName`). The default value is <c>true</c>.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="WeaveArguments" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Weave all Argument check attributes into actual argument checks. The default value is <c>true</c>.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="WeaveLogging" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Weave all calls to `LogManager.GetCurrentClassLogger()` into `LogManager.GetLogger(typeof(classname))`. The default value is <c>true</c>.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="GenerateXmlSchemas" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Generate xml schemas for all classes that inherit (directly or indirectly) from `Catel.Data.ModelBase`. The default value is <c>false</c>.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="Anotar.Catel" minOccurs="0" maxOccurs="1" type="xs:anyType" />
      </xs:all>
      <xs:attribute name="VerifyAssembly" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>'true' to run assembly verification (PEVerify) on the target assembly after all weavers have been executed.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="VerifyIgnoreCodes" type="xs:string">
        <xs:annotation>
          <xs:documentation>A comma-separated list of error codes that can be safely ignored in assembly verification.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="GenerateXsd" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>'false' to turn off automatic generation of the XML Schema file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>